#comment-card {
  margin-bottom: 3%;
  background-color: var(--surface);
  padding: 1.5% 1.5% 3% 3%;
  transition: background-color 0.5s linear;
}

mat-card-content > :first-child {
  margin-top: 20px;
}

.voting-icon {
  width: 35px;
  height: 35px;
  font-size: 35px;
  font-weight: bold;
  color: var(--on-surface)
}

.upVoted {
  color: var(--green);
}

.downVoted {
  color: var(--red);
}

.not-marked {
  color: slategray;
}

.answered-icon {
  color: blue;
}

.correct-icon {
  color: var(--green);
}

.favorite-icon {
  color: var(--yellow);
}

.wrong-icon {
  color: var(--red);
}

.beamer-icon {
  color: var(--on-surface);
}

.score {
  text-align: center;
  margin: 0;
  color: var(--on-surface);
  font-size: 24px;
}

.scoreCreator {
  color: var(--on-surface);
  margin: 0 10px 0 10px;
  font-size: 24px;
}

.body {
  min-width: 200px;
  min-height: 100px;
  text-align: start;
  font-size: 140%;
  overflow: auto;
  color: var(--on-surface);
  white-space: pre-line;
  hyphens: auto;
  overflow-wrap: anywhere !important;
}

.click {
  cursor: pointer;
}
user.role
.mat-icon {
  transform: scale(1.2);
}

.date-container {
  opacity: 0.7;
  color: var(--on-surface);
  padding-top: .3rem;
}

.comment-actions {
  align-items: center;
  height: 3.5rem;
}

.highlighted {
  background-color: var(--secondary)!important;
  transition: background-color 1s linear;
}

.highlighted * {
  color: var(--on-secondary)!important;
}

.gavel {
  color: var(--primary);
}

.moderator {
  background-color: var(--moderator)!important;
}

.comment-tags {
  cursor: pointer;
  color: var(--primary);
  margin-right: 10px;
}

.user-number {
  cursor: pointer;
  color: var(--on-surface);
}

.commentExpanderButton {
  color: var(--on-surface);
}


.user-icon {
  margin-right: 5px;
}

.voteUp {
  animation: upVote 1s;
}

.voteDown {
  animation: downVote 1s;
}

.reset {
  animation: rubber 1s;
}

@keyframes upVote {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.05, 0.75, 1) translateY(-6px)
  }
  40% {
    transform: scale3d(0.75, 1.05, 1) translateY(-12px)
  }
  50% {
    transform: scale3d(1.05, 0.95, 1) translateY(-10px)
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(-7px)
  }
  80% {
    transform: scale3d(1.05, 0.95, 1) translateY(-5px)
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(0)
  }
}

@keyframes downVote {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.05, 0.75, 1) translateY(6px)
  }
  40% {
    transform: scale3d(0.75, 1.05, 1) translateY(12px)
  }
  50% {
    transform: scale3d(1.05, 0.95, 1) translateY(10px)
  }
  65% {
    transform: scale3d(0.95, 1.05, 1) translateY(7px)
  }
  80% {
    transform: scale3d(1.05, 0.95, 1) translateY(5px)
  }
  100% {
    transform: scale3d(1, 1, 1) translateY(0)
  }
}

@keyframes rubber {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.05, 0.75, 1)
  }
  40% {
    transform: scale3d(0.75, 1.05, 1)
  }
  50% {
    transform: scale3d(1.05, 0.95, 1)
  }
  65% {
    transform: scale3d(0.95, 1.05, 1)
  }
  100% {
    transform: scale3d(1, 1, 1)
  }
}
